/* default */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 20px;
  /* font-family: "Cinzel Decorative", cursive; */
}
/* navigation */

.nav_holder {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1%;
}

/* again_button */
.again_button {
  padding: 1% 1.5%;
  font-size: 1rem;
  color: white;
  background: black;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  font-family: "Sofia Sans", sans-serif;
  /* add interesting font family */
}

.again_button:hover {
  font-size: 1.2rem;
  cursor: pointer;
}

/* discription */
.discription {
  font-size: inherit;
}

/* header */
.header {
  display: block;
  /* padding-top: 10%; */
}
/* title */
.title {
  font-size: 6rem;
  text-align: center;
  padding-top: 7%;
}

/* correct_number */

.number {
  border: 1px solid black;
  text-align: center;
  font-size: 4rem;
  width: 6rem;
  height: 6rem;
  margin: 3% auto 0;
}

.question_mark {
  font-size: 4rem;
}

/* main_section */
.main_section {
  display: flex;
  justify-content: space-between;
  padding: 10% 10% 0;
}

/* left_part */
.left_part {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
.number_input {
  text-align: center;
  font-size: 4rem;
  max-width: 8rem;
  margin-bottom: 10%;
  border-radius: 0.6rem;
}

.check {
  font-size: 1rem;
  padding: 8% 3%;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: all 0.2s linear;
  font-family: "Sofia Sans", sans-serif;
}

.check:hover {
  cursor: pointer;
  font-size: 1.2rem;
}

/* right_part */
div,
span {
  font-size: 2rem;
}
.right_part {
  font-size: 2rem;
  line-height: 4rem;
}

/* 400px */

@media (max-width: 500px) {
  body {
    font-size: 10px;
  }
  .title {
    font-size: 2rem;
    padding-top: 30%;
  }

  .number {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 3% auto 0;
  }
  .question_mark {
    font-size: 3rem;
  }

  .number_input {
    font-size: 2rem;
    max-width: 6rem;
    margin-bottom: 10%;
    border-radius: 0.6rem;
  }

  .check {
    padding: 3% 1%;
  }
  div,
  span {
    font-size: 1rem;
  }
}
